# Cache directories
cache/
__pycache__/
*.py[cod]

# Environment directories
venv/
env/
.env*
!.env.example

# IDE specific files
.vscode/
.idea/
*.swp

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development files
*.log
.DS_Store

# Test files
docker-compose.test.yml
tests/
config/test_config.yaml
*.test.yaml
*.test.yml

# Configuration
config/*
!config/config.yaml.example